/*
    ELEMENT SELECTORS { STYLE PROPERTIES }
    . refers to a class
    # refers to a unique id

    See /home/data/proj/git/levi
*/

  * {margin:0;} /* select all elements to have no margin between */

  html
  {
      font-size:large;
  }

  p.main
  {
      font-family:Verdana, Geneva, sans-serif;
      font-size:100%;
      font-weight:bold;
      color:green;
      text-align:center;
      margin-left:0px;
      text-decoration:none;
      line-height:150%
  }

  p.heading
  {
       font-family:Verdana, Geneva, sans-serif;
       font-size:100%;
       font-weight:bold;
       color:black;
       text-align:left;
       margin-left:0px;
       text-decoration:none;
       line-height:150%;
  }

  a.goto
  {
       font-family:Verdana, Geneva, sans-serif;
       font-size:90%;
       font-weight:bold;
       color:blue;
       text-align:left;
       margin-left:3%;
       text-decoration:underline;
       line-height:150%;
       padding-left:0pt;
  }

    /**************************************************************
    * This specifies the bold black border
    **************************************************************/
    div.container-with-border {
        margin: 10px auto; /* outermost white space */
        border: 20px solid black; /* then thick frame border */
        padding: 30px; /* this is background surrounding text */
        /* width: 450px;   within the padding */
        width:50%;
        background-color:white;
    }
 
